*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
  background-color: white;
}
#root {
  background-color: #ffffff; /* pure white */
  min-height: 100vh;      
}